 html {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: hsl(35, 75%, 97%);
    max-width: 1500px;
    margin: 0 auto;
  }

  #blok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1{
    text-align: center;
    font-size: 3em;
    color: black;
    margin: 50px 0px;
    width: 100% ;
    font-weight: 600;
  }

  h2 {
    text-align: center;
    font-size: 2em;
    color: black;
    margin: 0;
    width: 100% ;
    font-weight: 100;
  }

  h3{
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-weight: 100;
    margin: 5px ;
    width: 100%
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 80%;
  }

  a {
    text-decoration: none;
  }

  /* ul {
    display: flex;
    flex-wrap: wrap;
  } */
  
.container {
    text-align: center;
    width: 400px;
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    list-style: none;
  }
  
  .container:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }